name: Build Zygisk Module

on:
  push:
    branches: [ "master", "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew and package.sh
      run: chmod +x gradlew package.sh

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Install NDK
      run: sdkmanager "ndk;27.0.12077973"

    - name: Build with Gradle
      run: ./package.sh

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Zygisk-MLBS
        path: build/Zygisk-MLBS.zip

    - name: Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: build/Zygisk-MLBS.zip
        generate_release_notes: true
